/* Transparent Overlay */
.loader {
  position: fixed;
  z-index: 99999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
 }

/* Loader */
.loader:before {
  position: fixed;
  display: block;
  content: '';
  left: 0;
  top: 0;
  bottom:0;
  right:0;
  width: 50px;
  height: 50px;
 	border-radius: 50%;
  margin:auto;
  border: 5px solid #9e9e9e;
  border-top: 5px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
 }

/*Animation OR Spinner */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}